footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px;
  width: 70vw;
  margin: 0 auto;
    .rrss {
     width: 5vw;
     height: auto;
     padding: 10px;
     @include mobile {
     width: 15vw;
     }
}
}