.galeria {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box; 

   @include mobile{
        flex-direction: column;
        align-items: center;
        
   }
 
    img {
     flex: 1 1 0;
     max-width: calc((70vw - 40px) / 3);
     height: auto;
     width: 100%;
     object-fit: contain;
     display: block;

    animation: fadeIn 1s ease-in-out both;
   
    @include mobile{
        max-width: 100%;

     }
    }
  }

    @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
