.metodo {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include mobile {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.card {
  width: 70vw;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #cc8c03;
  box-sizing: border-box;
  align-items: center;

  &--destacada {
    background-color: #ddaa7a;
  }

  &__imagen-wrapper {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__imagen {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
  }

  &__titulo {
    font-size: 1em;
    text-align: center;
    padding-bottom: 10px;
    color: #ffffff;
  }

  &__boton {
    background-color: #455683;
    color: white;
    width: 50%;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 63px;
    margin-top: 10px;

    &:hover {
      background-color: #002f5f;
    }
  }
}