@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
   font-family: Roboto;
   background-color:#F1DFC2;
}

.em{
   font-size: 12px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caja{
    background-color: blueviolet;
    width: 25vw;
    height: 10vh;
    border: 2px solid coral;
}